html{
    margin: 0;
}
header{
    background-color: skyblue;
    margin: 0;
}

h1 {
    margin: auto;
    padding: 2%;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-top: 3%;
    margin-left: 3%;
    border: none;
}

label {
    margin-bottom: 3px;
    font-weight: bold;
}

input {
    border: solid;
    border-width: 1px;
    border-color: grey;
}

#journalDate {
    width: 250px;
    background-color: white;
}

#conceptsCovered {
    width: 250px;
}

#journalEntry {
    border: solid;
    border-width: 1px;
    border-color: grey;
    width: 248px;
}

#mood {
    border: solid;
    border-width: 1px;
    border-color: grey;
    width: 260px;
    background-color: white;
}


#recordButton {
    margin: 3%;
    padding-left: 1%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: navy;
    width: 150px;
    background-color:rgb(230, 255, 255);
}



